<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>A fantastical adventure - Enter your words!</title>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the blanks to write your story!</h1>
      <div>
        <form id="formOne" action="/story">
          <div class="form-group">
            <label for="person1">A name</label>
            <input id="person1" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="person2">Another name</label>
            <input id="person2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal</label>
            <input id="animal" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="exclamation">An exclamation</label>
            <input id="exclamation" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="verb">A past tense verb</label>
            <input id="verb" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun">A noun</label>
            <input id="noun" class="form-control" type="text">
          </div>

          <button type="submit" class="btn btn-primary">Show me the story!</button>
        </form>
      </div>
  </body>
</html>
